*:focus {
  outline: none;
}
* {
  font-weight: 300;
}

.container {
  height: 667px;
  width: 375px;
  position: relative;
  background: #f0f1f1;
  display: grid;
  grid-template-rows: 64px 0.5fr 1fr 1fr;
  color: #4A4A4A;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 100%; 
  position: relative; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

h1 {
  font-size: 28px;
  opacity: 0.5;
  margin-top: 42px;
}
h2 {
  font-size: 24px;
  margin-bottom: 0px;
}

input {
  box-sizing: border-box;
  width: 278px;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 20%;
  border: 1px solid #4a4a4a44;
  color: #4A4A4A;
}
input::placeholder {
  opacity: 0.3;
  font-weight: 200;
}

button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background: #8A8785;
  color: white;
  font-size: 18px;
  margin: 0px auto;
  outline: none;
}

.send {
  background: #4A90E2;
}
.undo,
.done {
  position: absolute;
  width: 270px;
  text-align: center;
  z-index: 50;
  transition: all 0.1s ease-out;
}
.done {
  transform: scale(1);
  opacity: 1;
}
.undo {
  transform: scale(0);
  opacity: 0;
}

.nofilter,
.filter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.1s ease-out;
}
.filter {
  opacity: 1;
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.nofilter {
  z-index: -100;
  opacity: 0;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
}