.machine {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vw;
  background-color: #f0f1f1;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.slots {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 20vw;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-perspective: 800vw;
  perspective: 800vw;
  overflow: hidden;
  background-color: #050505;
  border-radius: 4px;
  border: 1px solid lightgray;
}
.slots:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.05) 5%,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.05) 95%,
    rgba(0, 0, 0, 0.25) 100%
  );
}
.spin,
.slot {
  position: absolute;
  top: -50%;
  width: 50%;
  height: 20vw;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.spin {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spin:nth-child(1) {
  -webkit-animation-name: rotate-1;
  animation-name: rotate-1;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}
.spin:nth-child(1),
.slot:nth-child(1) {
  left: 2%;
}
.spin:nth-child(2) {
  -webkit-animation-name: rotate-2;
  animation-name: rotate-2;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}
.spin:nth-child(2),
.slot:nth-child(2) {
  left: 48%;
}

@-webkit-keyframes rotate-1 {
  0% {
    -webkit-transform: rotateX(324deg);
    transform: rotateX(324deg);
  }
  50% {
    -webkit-transform: rotateX(-900deg);
    transform: rotateX(-900deg);
  }
  70% {
    -webkit-transform: rotateX(-1260deg);
    transform: rotateX(-1260deg);
  }
  90% {
    -webkit-transform: rotateX(-1584deg);
    transform: rotateX(-1584deg);
  }
  100% {
    -webkit-transform: rotateX(-1620deg);
    transform: rotateX(-1620deg);
  }
}
@keyframes rotate-1 {
  0% {
    -webkit-transform: rotateX(324deg);
    transform: rotateX(324deg);
  }
  50% {
    -webkit-transform: rotateX(-900deg);
    transform: rotateX(-900deg);
  }
  70% {
    -webkit-transform: rotateX(-1260deg);
    transform: rotateX(-1260deg);
  }
  90% {
    -webkit-transform: rotateX(-1584deg);
    transform: rotateX(-1584deg);
  }
  100% {
    -webkit-transform: rotateX(-1620deg);
    transform: rotateX(-1620deg);
  }
}
@-webkit-keyframes rotate-2 {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(-1044deg);
    transform: rotateX(-1044deg);
  }
  70% {
    -webkit-transform: rotateX(-1404deg);
    transform: rotateX(-1404deg);
  }
  90% {
    -webkit-transform: rotateX(-1728deg);
    transform: rotateX(-1728deg);
  }
  100% {
    -webkit-transform: rotateX(-1764deg);
    transform: rotateX(-1764deg);
  }
}
@keyframes rotate-2 {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(-1044deg);
    transform: rotateX(-1044deg);
  }
  70% {
    -webkit-transform: rotateX(-1404deg);
    transform: rotateX(-1404deg);
  }
  90% {
    -webkit-transform: rotateX(-1728deg);
    transform: rotateX(-1728deg);
  }
  100% {
    -webkit-transform: rotateX(-1764deg);
    transform: rotateX(-1764deg);
  }
}
.start,
.number {
  position: absolute;
  top: 10vw;
  right: 0;
  left: 0;
  display: flex;
  height: 20vw;
  justify-content: center;
  align-items: center;
  font-size: 8vw;
  box-shadow: 
    inset 0 0 2vw rgba(0, 0, 0, 0.8),
    inset 0 0 0.5vw rgba(0, 0, 0, 0.5);
  color: #4A4A4A;
  background-color: white;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.start,
.number:nth-child(0) {
  -webkit-transform: rotateX(0deg) translateZ(30vw);
  transform: rotateX(0deg) translateZ(30vw);
}

.number:nth-child(1) {
  -webkit-transform: rotateX(36deg) translateZ(30vw);
  transform: rotateX(36deg) translateZ(30vw);
}

.number:nth-child(2) {
  -webkit-transform: rotateX(72deg) translateZ(30vw);
  transform: rotateX(72deg) translateZ(30vw);
}

.number:nth-child(3) {
  -webkit-transform: rotateX(108deg) translateZ(30vw);
  transform: rotateX(108deg) translateZ(30vw);
}

.number:nth-child(4) {
  -webkit-transform: rotateX(144deg) translateZ(30vw);
  transform: rotateX(144deg) translateZ(30vw);
}
.number:nth-child(5) {
  -webkit-transform: rotateX(180deg) translateZ(30vw);
  transform: rotateX(180deg) translateZ(30vw);
}

.number:nth-child(6) {
  -webkit-transform: rotateX(216deg) translateZ(30vw);
  transform: rotateX(216deg) translateZ(30vw);
}

.number:nth-child(7) {
  -webkit-transform: rotateX(252deg) translateZ(30vw);
  transform: rotateX(252deg) translateZ(30vw);
}

.number:nth-child(8) {
  -webkit-transform: rotateX(288deg) translateZ(30vw);
  transform: rotateX(288deg) translateZ(30vw);
}

.number:nth-child(9) {
  -webkit-transform: rotateX(324deg) translateZ(30vw);
  transform: rotateX(324deg) translateZ(30vw);
}

.number:nth-child(10) {
  -webkit-transform: rotateX(360deg) translateZ(30vw);
  transform: rotateX(360deg) translateZ(30vw);
}