.container {
  width: 100%;
  height: calc(100% - 32px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 32px;
}

.container > button {
  position: absolute;
  top: 160px;
  z-index: 5;
}

.paperContainer {
  position: absolute;
  width: 288px;
  height: 219px;
  z-index: 5;
}
.content,
.pic {
  -webkit-transition: margin-top 0.3s ease-in;
  transition: margin-top 0.3s ease-in;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.paperContainer img {
  position: absolute;
  width: 375px;
  top: -42px;
  left: -43.5px;
  z-index: -1;
}

.content > input {
  width: 200px;
  z-index: 5;
}

.content > h3 {
  margin-top: 32px;
  opacity: 0.7;
  z-index: 5;
}

.send {
  /* width: 288px; */
  width: 100%;
  background: #4A90E2;
  /* position: relative; */
  margin-left: -1px;
  /* margin-bottom: -26px; */
  border-radius: 0px;
  opacity: 0.2;
  z-index: 5;
}