.main {
  padding: 8px;
  width: 316px;
  height: 316px;
  position: relative;
}

.pointer {
  width: 172px;
  z-index: 5;
  top: -1px;
  position: absolute;
  transform: translateX(-50%);
}

.spin,
.base {
  width: 300px;
  position: absolute;
  left: 6px;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
  -webkit-transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.spin {
  -webkit-transform: rotate(6180deg);
  transform: rotate(6180deg);
}

.initial {
  width: 300px;
  position: absolute;
  left: 6px;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}

.bg,
.bgBlur,
.popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: all 0.1s ease-out 0.6s;
  transition: all 0.1s ease-out 0.6s;
}

.bg {
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
}

.bgBlur {
  z-index: 500;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.main > button,
.main > button::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.main > button {
  width: 140px;
  height: 140px;
  background: white;
  color: #4A4A4A;
  z-index: 6;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.main > button::after {
  content: '';
  width: 88%;
  height: 88%;
  border: 2px solid #9B9B9B;
  opacity: 0.3;
}

.main > button > p {
  margin: 0px;
}

.popup {
  width: 270px;
  height: 206px;
  background: #92BCEE;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.popup > h3 {
  margin-top: 16px;
  width: 80%;
  color: white;
  opacity: 1;
}

.popup > input {
  width: 80%;
  margin: 16px auto 24px;
}

.unsend,
.send {
  background: transparent;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px;
  opacity: 1;
  font-weight: bold;
}

.unsend {
  color: rgba(255, 255, 255, 0.2);
}