*:focus {
  outline: none;
}
* {
  font-weight: 300;
  color: #4A4A4A;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.App,
nav,
h1 {
  background: #f0f1f1;
}

.App {
  text-align: center;
  width: 375px;
  height: 667px;
  position: relative;
  display: grid;
  grid-template-rows: 65px auto 49px;
}

nav {
  z-index: 100;
}

h1,
h2,
h3 {
  margin: 0px auto;
}

h1 {
  width: 100%; 
  font-size: 28px;
  padding: 42px 0px 64px;
  z-index: 100; 
  color: #b4b2b1;
}
h2 {
  font-size: 24px;
  opacity: 0.7;
}

h3 {
  font-size: 21px;
  line-height: 32px;
  opacity: 0.7;
}

input {
  box-sizing: border-box;
  width: 278px;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #4a4a4a44;
  color: #4A4A4A;
}
input::placeholder {
  opacity: 0.3;
  font-weight: 200;
}

button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background: #8A8785;
  color: white;
  font-size: 18px;
  margin: 0px auto;
  outline: none;
}

.toolBar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: white;
}

.item-selected,
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-selected {
  background: #4A90E2;
  color: white;
  font-weight: 500;
}

button,
.item {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.item:hover {
  background: #DBE9F9;
}