.container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.undo,
.done {
  width: 270px;
  z-index: 50;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.done {
  transform: scale(1);
  opacity: 1;
}
.undo {
  transform: scale(0);
  opacity: 0;
}

.nofilter,
.filter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.filter {
  opacity: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  cursor: pointer;
}
.nofilter {
  opacity: 0;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
}